<!DOCTYPE html>
<html>
  <head>
    <title>Watch-list-1984</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://plus.unsplash.com/premium_photo-1676049461949-185dcea09d77?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHBvcGNvcm58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60" style="border-radius: 50%"/>
          </a>
          <button class="btn btn-flat" type="button">
            <span class="btn btn-flat"><%= link_to "New list", new_list_path %></span>
          </button>
        </div>
      </div>
    <%= yield %>
  </body>
</html>
